<div class="container">
  <div class="row extra">
    <div class="span8 offset2">
      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li><a href="{{ url_for('home') }}">Home</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          {% if 'email' in session %}
          <li><a href="{{ url_for('profile') }}">Profile</a></li>
          <li><a href="{{ url_for('signout') }}">Sign Out</a></li>
          {% else %}
          <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
          <li><a href="{{ url_for('signin') }}">Sign In</a></li>
          {% endif %}
        </ul>
        <h3 class="muted">Event on Demand</h3>
      </div> <!-- masthead -->
      <hr> <!-- little division line -->
    </div> <!-- span -->
  </div> <!-- row -->
</div> <!-- container -->